.product{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}
.img{
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description{
    font-size: 0.8em;
}

.add-btn{
    width: 100%;
    background-color: aquamarine;
}

.description{
    width: 100%;
    color: rgb(0, 42, 255);
    font-family: 'Courier';
    font-size: x-large;
}

.price{
    width: 100%;
    color: rgb(4, 104, 101);
    font-family: Courier;
    font-size: larger;
}

.title{
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: larger;
}
.photo{
    width: 100px;
}