.product{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}
.img{
    width: 100%;
    background: lightgray;
    height: 100px;
   
    background: var(--tg-theme-button-color);
margin-bottom: 53px;
}

.description{
    font-size: 0.8em;
}

.add-btn{
    width: 100%;
    background-color: aquamarine;
}

.description{
    width: 100%;
    color: rgb(0, 42, 255);
    font-family: 'Courier';
    font-size: 14px;
}

.price{
    width: 100%;
    color: rgb(4, 104, 101);
    font-family: Courier;
    font-size: larger;
}

.title{
    width: 100%;
    color: rgb(179, 34, 34);
    font-family: Tahoma;
    font-size: larger;
}   
.photo{
    width: 100px;
    
}